HTML {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

BODY {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DIV {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

SPAN {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

APPLET {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

OBJECT {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

IFRAME {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H1 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H2 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H3 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H4 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H5 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H6 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

P {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

BLOCKQUOTE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

PRE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

A {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

ABBR {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

ACRONYM {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

ADDRESS {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

BIG {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

CITE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

CODE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DEL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DFN {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

EM {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

IMG {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

INS {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

KBD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

Q {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

S {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

SAMP {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

SMALL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

STRIKE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

STRONG {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

SUB {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

SUP {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TT {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

VAR {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

B {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

U {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

I {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

CENTER {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DT {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

OL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

UL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

LI {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

FIELDSET {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

FORM {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

LABEL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

LEGEND {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TABLE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

CAPTION {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TBODY {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TFOOT {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

THEAD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TR {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TH {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

article {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

aside {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

canvas {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

details {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

EMBED {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

figure {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

figcaption {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

footer {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

header {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

hgroup {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

MENU {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

nav {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

output {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

RUBY {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

section {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

summary {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

time {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

mark {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

audio {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

video {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT:;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

HTML {
	LINE-HEIGHT: 1
}

OL {
	LIST-STYLE-TYPE: none;
	LIST-STYLE-IMAGE: none
}

UL {
	LIST-STYLE-TYPE: none;
	LIST-STYLE-IMAGE: none
}

TABLE {
	BORDER-SPACING: 0;
	BORDER-COLLAPSE: collapse
}

CAPTION {
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: normal
}

TH {
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: normal
}

TD {
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: normal
}

Q {
	QUOTES: none
}

BLOCKQUOTE {
	QUOTES: none
}

Q:before {
	CONTENT: none
}

Q:after {
	CONTENT: none
}

BLOCKQUOTE:before {
	CONTENT: none
}

BLOCKQUOTE:after {
	CONTENT: none
}

A IMG {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}

article {
	DISPLAY: block
}

aside {
	DISPLAY: block
}

details {
	DISPLAY: block
}

figcaption {
	DISPLAY: block
}

figure {
	DISPLAY: block
}

footer {
	DISPLAY: block
}

header {
	DISPLAY: block
}

hgroup {
	DISPLAY: block
}

main {
	DISPLAY: block
}

MENU {
	DISPLAY: block
}

nav {
	DISPLAY: block
}

section {
	DISPLAY: block
}

summary {
	DISPLAY: block
}

BODY {
	FONT: 16px/1 "Microsoft Yahei", serif, arial;
	BACKGROUND: url(backgroud.jpg) no-repeat center top;
	COLOR: #777;
	OVERFLOW: hidden
}

A {
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: medium;
	TEXT-DECORATION: none
}

.fl {
	FLOAT: left
}

.fr {
	FLOAT: right
}

.pr {
	POSITION: relative
}

.pa {
	POSITION: absolute
}

.clearfix {
	
}

.clearfix:after {
	DISPLAY: table;
	HEIGHT: 0px;
	CLEAR: both;
	CONTENT: " "
}

.none {
	DISPLAY: none
}

.text_center {
	TEXT-ALIGN: center
}

#main_re {
	POSITION: relative
}

.header_wk {
	Z-INDEX: 2;
	POSITION: absolute;
	WIDTH: 100%;
	BACKGROUND: white;
	TOP: 0px
}

.header_wk #header {
	MARGIN: 0px auto
}

.header_wk #header H1 .fr {
	LINE-HEIGHT: 64px;
	COLOR: #9e9e9e;
	MARGIN-RIGHT: 15px
}

.main {
	Z-INDEX: 1;
	POSITION: relative;
	WIDTH: 100%
}

.tab_main {
	POSITION: relative;
	HEIGHT: 708px
}

.tab_main LI {
	FLOAT: left
}

.tab_main A {
	DISPLAY: block
}

.nav {
	POSITION: absolute
}

.tab {
	POSITION: absolute
}

.scroll_tips {
	POSITION: absolute
}

.nav {
	BOTTOM: -59px;
	MARGIN-LEFT: -81px;
	LEFT: 50%
}

.nav A {
	WIDTH: 13px;
	BACKGROUND: #a2a6a5;
	HEIGHT: 13px;
	MARGIN-RIGHT: 12px
}

.nav A:hover {
	BACKGROUND-POSITION: -34px 0px
}

.nav .current {
	WIDTH: 50px;
	BACKGROUND: #f9b600;
	HEIGHT: 13px
}

.diretion A {
	TEXT-INDENT: -9999px;
	DISPLAY: block
}

.nav A {
	TEXT-INDENT: -9999px;
	DISPLAY: block
}

.tab {
	POSITION: absolute;
	WIDTH: 6500px;
	HEIGHT: 100%;
	TOP: 0px;
	LEFT: 0px
}

.tab .li1 {
	POSITION: relative;
	WIDTH: 100%;
	HEIGHT: 100%
}

.tab .li2 {
	POSITION: relative;
	WIDTH: 100%;
	HEIGHT: 100%
}

.tab .li3 {
	POSITION: relative;
	WIDTH: 100%;
	HEIGHT: 100%
}

.tab .li4 {
	POSITION: relative;
	WIDTH: 100%;
	HEIGHT: 100%
}

.tab .li5 {
	POSITION: relative;
	WIDTH: 100%;
	HEIGHT: 100%
}

.tab .li1 IMG {
	POSITION: absolute
}

.tab .li2 IMG {
	POSITION: absolute
}

.tab .li3 IMG {
	POSITION: absolute
}

.tab .li4 IMG {
	POSITION: absolute
}

.tab .li5 IMG {
	POSITION: absolute
}

.tab .liall {
	POSITION: relative
}

.tab .main_tab {
	POSITION: absolute;
	MARGIN-TOP: -354px;
	WIDTH: 1000px;
	HEIGHT: 708px;
	MARGIN-LEFT: -500px;
	TOP: 50%;
	LEFT: 50%
}

.tab .main_tab1 {
	MARGIN-TOP: -315px;
	HEIGHT: 630px
}

.tab .main_tab2 {
	MARGIN-TOP: -346px;
	HEIGHT: 692px
}

.tab .main_tab3 {
	MARGIN-TOP: -310px;
	HEIGHT: 620px
}

.tab .main_tab4 {
	MARGIN-TOP: -310px;
	HEIGHT: 620px
}

.tab .main_tab5 {
	MARGIN-TOP: -310px;
	HEIGHT: 620px
}

.tab .main_tab6 {
	MARGIN-TOP: -258px;
	HEIGHT: 516px
}

.tab .li1 .img1 {
	TOP: 101px;
	LEFT: 282px
}

.tab .li1 .img2 {
	TOP: 385px;
	LEFT: 149px
}

.tab .li1 .img3 {
	TOP: 467px;
	LEFT: 376px
}

.tab .current.li1 .img1 {
	animation: zoomIn 1s ease-in forwards;
	-moz-animation: zoomIn 1s ease-in forwards;
	-webkit-animation: zoomIn 1s ease-in forwards
}

.tab .current.li1 .img2 {
	animation: fadeInUp 1s ease-in 1s forwards;
	-moz-animation: fadeInUp 1s ease-in 1s forwards;
	-webkit-animation: fadeInUp 1s ease-in 1s forwards
}

.tab .current.li1 .img3 {
	animation: fadeIn 1s ease-in 1.5s forwards;
	-moz-animation: fadeIn 1s ease-in 1.5s forwards;
	-webkit-animation: fadeIn 1s ease-in 1.5s forwards
}

.tab .li2 .img1 {
	TOP: 200px;
	LEFT: 97px
}

.tab .li3 .img1 {
	TOP: 200px;
	LEFT: 97px
}

.tab .li4 .img1 {
	TOP: 200px;
	LEFT: 97px
}

.tab .li2 .img2 {
	TOP: 146px;
	RIGHT: 64px
}

.tab .li3 .img2 {
	TOP: 146px;
	RIGHT: 64px
}

.tab .li4 .img2 {
	TOP: 146px;
	RIGHT: 64px
}

.tab .li2 .img3 {
	POSITION: absolute;
	TOP: 264px;
	LEFT: 78px
}

.tab .li3 .img3 {
	POSITION: absolute;
	TOP: 264px;
	LEFT: 78px
}

.tab .li4 .img3 {
	POSITION: absolute;
	TOP: 264px;
	LEFT: 78px
}

.tab .li2 .img3 H2 {
	FONT-FAMILY: KaiTi;
	COLOR: white;
	FONT-SIZE: 34px
}

.tab .li3 .img3 H2 {
	FONT-FAMILY: KaiTi;
	COLOR: white;
	FONT-SIZE: 34px
}

.tab .li4 .img3 H2 {
	FONT-FAMILY: KaiTi;
	COLOR: white;
	FONT-SIZE: 34px
}

.tab .li2 .img3 P {
	PADDING-BOTTOM: 15px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-FAMILY: KaiTi;
	COLOR: #3a3a3a;
	FONT-SIZE: 22px;
	PADDING-TOP: 15px
}

.tab .li3 .img3 P {
	PADDING-BOTTOM: 15px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-FAMILY: KaiTi;
	COLOR: #3a3a3a;
	FONT-SIZE: 22px;
	PADDING-TOP: 15px
}

.tab .li4 .img3 P {
	PADDING-BOTTOM: 15px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-FAMILY: KaiTi;
	COLOR: #3a3a3a;
	FONT-SIZE: 22px;
	PADDING-TOP: 15px
}

.tab .li2 .img4 {
	POSITION: absolute;
	TOP: 627px
}

.tab .li3 .img4 {
	POSITION: absolute;
	TOP: 627px
}

.tab .li4 .img4 {
	POSITION: absolute;
	TOP: 627px
}

.tab .li2 .img4 P {
	FONT-FAMILY: Microsoft Yahei;
	COLOR: #3a3a3a;
	FONT-SIZE: 22px
}

.tab .li3 .img4 P {
	FONT-FAMILY: Microsoft Yahei;
	COLOR: #3a3a3a;
	FONT-SIZE: 22px
}

.tab .li4 .img4 P {
	FONT-FAMILY: Microsoft Yahei;
	COLOR: #3a3a3a;
	FONT-SIZE: 22px
}

.tab .li2 .img4 P SPAN {
	COLOR: #f9b600
}

.tab .li3 .img4 P SPAN {
	COLOR: #f9b600
}

.tab .li4 .img4 P SPAN {
	COLOR: #f9b600
}

.tab .li2 .img4 {
	LEFT: 139px
}

.tab .li3 .img4 {
	LEFT: 139px
}

.tab .li4 .img4 {
	LEFT: 203px
}

.tab .current.li2 .img1 {
	animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-moz-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-webkit-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards
}

.tab .current.li3 .img1 {
	animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-moz-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-webkit-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards
}

.tab .current.li4 .img1 {
	animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-moz-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-webkit-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards
}

.tab .current.li2 .img2 {
	animation: fadeInRight2 1s ease-in 0.2s forwards;
	-moz-animation: fadeInRight2 1s ease-in 0.2s forwards;
	-webkit-animation: fadeInRight2 1s ease-in 0.2s forwards
}

.tab .current.li3 .img2 {
	animation: fadeInRight2 1s ease-in 0.2s forwards;
	-moz-animation: fadeInRight2 1s ease-in 0.2s forwards;
	-webkit-animation: fadeInRight2 1s ease-in 0.2s forwards
}

.tab .current.li4 .img2 {
	animation: fadeInRight2 1s ease-in 0.2s forwards;
	-moz-animation: fadeInRight2 1s ease-in 0.2s forwards;
	-webkit-animation: fadeInRight2 1s ease-in 0.2s forwards
}

.tab .current.li2 .img3 {
	animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-moz-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-webkit-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards
}

.tab .current.li3 .img3 {
	animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-moz-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-webkit-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards
}

.tab .current.li4 .img3 {
	animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-moz-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards;
	-webkit-animation: fadeInLeft_l 0.8s ease-in 1.5s forwards
}

.tab .current.li2 .img4 {
	animation: fadeIn 0.8s ease-in 1s forwards;
	-moz-animation: fadeIn 0.8s ease-in 1s forwards;
	-webkit-animation: fadeIn 0.8s ease-in 1s forwards
}

.tab .current.li3 .img4 {
	animation: fadeIn 0.8s ease-in 1s forwards;
	-moz-animation: fadeIn 0.8s ease-in 1s forwards;
	-webkit-animation: fadeIn 0.8s ease-in 1s forwards
}

.tab .current.li4 .img4 {
	animation: fadeIn 0.8s ease-in 1s forwards;
	-moz-animation: fadeIn 0.8s ease-in 1s forwards;
	-webkit-animation: fadeIn 0.8s ease-in 1s forwards
}

.tab .li5 .img1 {
	TOP: 45px;
	LEFT: 78px
}

.tab .li5 .img2 {
	POSITION: absolute;
	WIDTH: 100%;
	TOP: 88px;
	LEFT: 448px
}

.tab .li5 .img2 P {
	LINE-HEIGHT: 1.8;
	COLOR: #362e2b;
	FONT-SIZE: 22px
}

.tab .li5 .img2 P SPAN {
	COLOR: #d1403d
}

.tab .li5 .img3 {
	POSITION: absolute;
	TOP: 277px;
	LEFT: 433px
}

.zc_pa {
	LEFT: 50px
}

.zc_pa .zc_pr {
	WIDTH: 883px;
	BACKGROUND: url(1_pc_zc_pr_bg.png) no-repeat center top;
	HEIGHT: 670px
}

.zc_pa .zc_pr .fl .question_wk {
	MARGIN: 257px 0px 0px 78px;
	WIDTH: 340px;
	COLOR: #3a3a3a;
	FONT-SIZE: 16px
}

.zc_pa .zc_pr .fl .question_wk .question .title {
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #f07f00;
	FONT-WEIGHT: bold;
	PADDING-TOP: 30px
}

.zc_pa .zc_pr .fl .question_wk .question .item {
	MARGIN: 0px 10px 0px 0px
}

.zc_pa .zc_pr .fl .question_wk .question1 .item {
	DISPLAY: block;
	MARGIN-BOTTOM: 10px;
	FLOAT: left
}

.zc_pa .zc_pr .fl .question_wk .question3 .item {
	DISPLAY: block;
	MARGIN-BOTTOM: 10px;
	FLOAT: left
}

.zc_pa .zc_pr .fl .question_wk .question3 .item {
	WIDTH: 140px
}

.zc_pa .zc_pr .fl .question_wk .question1 .item {
	WIDTH: 118px
}

.info .form_control {
	PADDING-BOTTOM: 13px;
	LINE-HEIGHT: 34px;
	HEIGHT: 34px;
	COLOR: #4c4c4c
}

.info .form_control SPAN {
	COLOR: #3a3a3a;
	FONT-SIZE: 16px
}

.info .form_control .city_span {
	DISPLAY: block;
	FLOAT: left;
	MARGIN-RIGHT: 3px
}

.info .form_control INPUT[type='text'].input_name {
	WIDTH: 147px
}

.info .form_control INPUT[type='text'] {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 38px;
	PADDING-LEFT: 10px;
	WIDTH: 240px;
	PADDING-RIGHT: 10px;
	BACKGROUND: white;
	HEIGHT: 32px;
	FONT-SIZE: 16px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none;
	PADDING-TOP: 0px
}

.info .form_control .J_placeholder.input_name {
	BACKGROUND: url(1_pc_placeholder_name2.png) #fff no-repeat 5px center
}

.info .form_control .J_placeholder.birthday {
	BACKGROUND: url(1_pc_placeholder_b2.png) #fff no-repeat 5px center
}

.info .form_control .J_placeholder.mobile {
	BACKGROUND: url(1_pc_placeholder_phone2.png) #fff no-repeat 5px center
}

.info .form_control .J_placeholder.email {
	BACKGROUND: url(1_pc_placeholder_email2.png) #fff no-repeat 5px center
}

.info .form_control INPUT[id='submit'] {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	WIDTH: 74%;
	FONT-FAMILY: Microsoft Yahei;
	BACKGROUND: #d1403d;
	HEIGHT: 36px;
	COLOR: white;
	MARGIN-LEFT: 25%;
	BORDER-TOP: medium none;
	CURSOR: pointer;
	BORDER-RIGHT: medium none
}

.qr {
	BORDER-BOTTOM: #ccc 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #ccc 1px solid;
	LINE-HEIGHT: 32px;
	WIDTH: 32px;
	DISPLAY: block;
	BACKGROUND: white;
	FLOAT: left;
	HEIGHT: 32px;
	COLOR: #000;
	BORDER-TOP: #ccc 1px solid;
	CURSOR: pointer;
	BORDER-RIGHT: #ccc 1px solid
}

.blnone {
	BORDER-LEFT: medium none
}

.man_choose {
	BACKGROUND: #5aa9e1;
	COLOR: #fff
}

.woman_choose {
	BACKGROUND: #fa7ddb;
	COLOR: #fff
}

#message {
	BORDER-BOTTOM: #f4e89f 1px solid;
	POSITION: absolute;
	TEXT-ALIGN: center;
	BORDER-LEFT: #f4e89f 1px solid;
	LINE-HEIGHT: 30px;
	BACKGROUND-COLOR: #fffbe6;
	WIDTH: 280px;
	MARGIN-BOTTOM: 7px;
	HEIGHT: 30px;
	COLOR: #cb5f4a;
	MARGIN-LEFT: 30px;
	BORDER-TOP: #f4e89f 1px solid;
	TOP: -44px;
	BORDER-RIGHT: #f4e89f 1px solid;
	LEFT: 33px;
	border-radius: 2px
}

#message .errorTips {
	PADDING-BOTTOM: 8px;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	PADDING-TOP: 8px
}

#footer {
	POSITION: fixed;
	PADDING-BOTTOM: 5px;
	WIDTH: 100%;
	BOTTOM: 0px
}

#footer .foot_main {
	MARGIN: 0px auto;
	PADDING-TOP: 18px
}

#footer P {
	TEXT-ALIGN: center;
	FONT-FAMILY: SimSun;
	MARGIN-BOTTOM: 8px;
	COLOR: #42433f;
	FONT-SIZE: 12px
}

#footer P A {
	COLOR: #025f7e
}

#footer P SPAN {
	FONT-FAMILY: Microsoft YaHei
}

.city_context {
	MARGIN-TOP: 2px;
	DISPLAY: inline-block
}

.filter_context {
	MARGIN-TOP: 2px;
	DISPLAY: inline-block
}

.province {
	MARGIN-TOP: 2px;
	DISPLAY: inline-block
}

.city {
	MARGIN-TOP: 2px;
	DISPLAY: inline-block
}

.province {
	BORDER-BOTTOM: #dcdcdc 1px solid;
	POSITION: relative;
	BORDER-LEFT: #dcdcdc 1px solid;
	WIDTH: 125px;
	BACKGROUND: url(http://img.yi114.com/2015226115552_1_down.jpg) #fff
		no-repeat right center;
	HEIGHT: 32px;
	BORDER-TOP: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid
}

.city {
	BORDER-BOTTOM: #dcdcdc 1px solid;
	POSITION: relative;
	BORDER-LEFT: #dcdcdc 1px solid;
	WIDTH: 125px;
	BACKGROUND: url(http://img.yi114.com/2015226115552_1_down.jpg) #fff
		no-repeat right center;
	HEIGHT: 32px;
	BORDER-TOP: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid
}

.province .selector_name {
	LINE-HEIGHT: 31px;
	TEXT-INDENT: 7px;
	HEIGHT: 31px;
	COLOR: black;
	FONT-SIZE: 14px;
	OVERFLOW: hidden
}

.city .selector_name {
	LINE-HEIGHT: 31px;
	TEXT-INDENT: 7px;
	HEIGHT: 31px;
	COLOR: black;
	FONT-SIZE: 14px;
	OVERFLOW: hidden
}

.province .selector_list {
	Z-INDEX: 1005;
	BORDER-BOTTOM: #ccc 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #ccc 1px solid;
	OVERFLOW-X: hidden;
	OVERFLOW-Y: auto;
	BACKGROUND-COLOR: #fff;
	WIDTH: 100%;
	MAX-HEIGHT: 250px;
	FONT-SIZE: 14px;
	BORDER-TOP: medium none;
	TOP: 30px;
	BORDER-RIGHT: #ccc 1px solid;
	LEFT: -1px;
	_height: auto
}

.city .selector_list {
	Z-INDEX: 1005;
	BORDER-BOTTOM: #ccc 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #ccc 1px solid;
	OVERFLOW-X: hidden;
	OVERFLOW-Y: auto;
	BACKGROUND-COLOR: #fff;
	WIDTH: 100%;
	MAX-HEIGHT: 250px;
	FONT-SIZE: 14px;
	BORDER-TOP: medium none;
	TOP: 30px;
	BORDER-RIGHT: #ccc 1px solid;
	LEFT: -1px;
	_height: auto
}

.city {
	MARGIN-LEFT: 6px
}

.selector_name:focus {
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: medium
}

.selector_list LI.hover {
	BACKGROUND-COLOR: #005084;
	COLOR: #fff;
	CURSOR: pointer
}

.selector_list LI {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 35px;
	PADDING-LEFT: 5px;
	WIDTH: 100%;
	PADDING-RIGHT: 5px;
	COLOR: #005084;
	OVERFLOW: hidden;
	BORDER-TOP: #dfdfdf 1px solid;
	CURSOR: pointer;
	PADDING-TOP: 0px
}

.selector_list LI:hover {
	BACKGROUND-COLOR: #005084;
	COLOR: #fff;
	CURSOR: pointer
}

.selector_list LI.checked {
	BACKGROUND-COLOR: #005084;
	COLOR: #fff;
	FONT-WEIGHT: bold
}

.outLayer {
	BORDER-BOTTOM: #9c9 5px solid;
	BORDER-LEFT: #9c9 5px solid;
	PADDING-BOTTOM: 20px;
	BACKGROUND-COLOR: #d8e9ec;
	PADDING-LEFT: 20px;
	WIDTH: 600px;
	PADDING-RIGHT: 20px;
	DISPLAY: none;
	HEIGHT: 400px;
	BORDER-TOP: #9c9 5px solid;
	BORDER-RIGHT: #9c9 5px solid;
	PADDING-TOP: 20px
}

.outLayer .closeA {
	BORDER-BOTTOM: #6fb7ff 10px solid;
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #a2d0ff;
	TEXT-INDENT: -9999px;
	MARGIN: 0px auto;
	WIDTH: 200px;
	DISPLAY: block;
	HEIGHT: 50px;
	COLOR: #002346;
	FONT-SIZE: 36px;
	FONT-WEIGHT: bold
}

.okLayer {
	DISPLAY: none;
	BACKGROUND: #ffffff;
	border-radius: 15px
}

.rule {
	DISPLAY: none;
	BACKGROUND: #ffffff;
	border-radius: 15px
}

.introduce {
	DISPLAY: none;
	BACKGROUND: #ffffff;
	border-radius: 15px
}

.okLayer .closeA {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 30px;
	DISPLAY: block;
	BACKGROUND:
		url(http://img.infinite.net.cn/minisite/Changan/yafei/Images/share_close.png)
		no-repeat 0px 0px;
	HEIGHT: 31px;
	TOP: 20px;
	RIGHT: 10px;
	_line-height: 12px
}

.rule .closeA {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 30px;
	DISPLAY: block;
	BACKGROUND:
		url(http://img.infinite.net.cn/minisite/Changan/yafei/Images/share_close.png)
		no-repeat 0px 0px;
	HEIGHT: 31px;
	TOP: 20px;
	RIGHT: 10px;
	_line-height: 12px
}

.introduce .closeA {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 30px;
	DISPLAY: block;
	BACKGROUND:
		url(http://img.infinite.net.cn/minisite/Changan/yafei/Images/share_close.png)
		no-repeat 0px 0px;
	HEIGHT: 31px;
	TOP: 20px;
	RIGHT: 10px;
	_line-height: 12px
}

.emailist {
	BORDER-BOTTOM: #bdbdbd 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #bdbdbd 1px solid;
	BACKGROUND-COLOR: #fff;
	COLOR: #666;
	FONT-SIZE: 14px;
	OVERFLOW: hidden;
	BORDER-TOP: #bdbdbd 1px solid;
	BORDER-RIGHT: #bdbdbd 1px solid
}

.emailist LI {
	PADDING-BOTTOM: 6px;
	PADDING-LEFT: 11px;
	PADDING-RIGHT: 11px;
	CURSOR: pointer;
	PADDING-TOP: 6px
}

.emailist LI:hover {
	BACKGROUND-COLOR: #eee
}

.emailist .on {
	BACKGROUND-COLOR: #eee
}

.errorMsg {
	Z-INDEX: 5;
	BORDER-BOTTOM: #fb6446 5px solid;
	POSITION: absolute;
	TEXT-ALIGN: center;
	BORDER-LEFT: #fb6446 5px solid;
	PADDING-BOTTOM: 8px;
	BACKGROUND-COLOR: #fff;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	DISPLAY: none;
	COLOR: #c01b1a;
	BORDER-TOP: #fb6446 5px solid;
	TOP: -20px;
	BORDER-RIGHT: #fb6446 5px solid;
	PADDING-TOP: 8px;
	LEFT: 105px;
	border-radius: 10px
}

.errorMsg .errorTips {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 0px;
	BACKGROUND:
		url(http://img.infinite.net.cn/minisite/Wsi/Images/smilea_thumb.gif)
		no-repeat left center;
	PADDING-TOP: 3px
}

#layer {
	Z-INDEX: 1000;
	POSITION: fixed;
	FILTER: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
	BACKGROUND-COLOR: #000;
	WIDTH: 100%;
	TOP: 0px;
	LEFT: 0px;
	opacity: 0.25
}

#layer_content {
	Z-INDEX: 10002;
	POSITION: fixed;
	PADDING-BOTTOM: 30px;
	BACKGROUND-COLOR: #fff;
	PADDING-LEFT: 100px;
	WIDTH: 587px;
	PADDING-RIGHT: 100px;
	FONT-FAMILY: SimSun;
	TOP: 80px;
	PADDING-TOP: 30px
}

#layer_content .layer_red {
	COLOR: #eb8144
}

#layer_content .title {
	TEXT-ALIGN: center;
	FONT: bold 18px/2 "΢���ź�";
	COLOR: #d25e39
}

#layer_content .title2 {
	BORDER-BOTTOM: #dddddd 1px solid;
	TEXT-ALIGN: center;
	LINE-HEIGHT: 2;
	FONT-FAMILY: "Microsoft YaHei", Tahoma, SimSun;
	MARGIN-BOTTOM: 20px;
	COLOR: #d25e39;
	FONT-SIZE: 40px
}

#layer_content .title3 {
	BORDER-BOTTOM: #eee 1px solid;
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 18px;
	LINE-HEIGHT: 65px;
	TEXT-INDENT: 90px;
	FONT-FAMILY: "Microsoft YaHei", Tahoma, SimSun;
	BACKGROUND: url(http://img.yi114.com/2015216132556_imgspirit.png)
		no-repeat center 0px;
	HEIGHT: 65px;
	COLOR: #22ac38;
	FONT-SIZE: 40px
}

#layer_content P {
	PADDING-BOTTOM: 5px;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #808080;
	FONT-SIZE: 14px;
	PADDING-TOP: 0px
}

#layer_content P SPAN {
	COLOR: #f07f00;
	FONT-WEIGHT: bold
}

#layer_content P A {
	FLOAT: right;
	COLOR: #4e77c9;
	TEXT-DECORATION: underline
}

#layer_content H3 {
	PADDING-BOTTOM: 10px;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 20px
}

#layer_content .closeA {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 12px;
	DISPLAY: block;
	BACKGROUND: url(http://img.yi114.com/2015216132556_imgspirit.png)
		no-repeat 0px -107px;
	HEIGHT: 12px;
	TOP: 10px;
	RIGHT: 7px;
	_line-height: 12px
}

#layer_content .layer_sd {
	FONT-FAMILY: SimSun
}

#layer_content .layer_sd P {
	PADDING-BOTTOM: 5px;
	MARGIN-TOP: 44px;
	PADDING-LEFT: 60px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 5px
}

#layer_content .layer_sd H1 {
	MARGIN-TOP: 16px;
	MARGIN-BOTTOM: 5px;
	FONT-SIZE: 18px
}

#layer_content .layer_sd H2 {
	MARGIN: 5px 0px 25px;
	WIDTH: 134px;
	CURSOR: pointer
}

#layer_content .layer_sd H3 {
	PADDING-BOTTOM: 15px;
	COLOR: #4c4c4c;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bold
}

#layer_content .layer_sd H4 {
	PADDING-BOTTOM: 10px
}

#layer_content .layer_message {
	HEIGHT: 40px
}

#layer_content .layer_tips {
	LINE-HEIGHT: 40px;
	COLOR: #e03a3a
}

#layer_content .main_q {
	MARGIN-LEFT: 16px
}

#layer_content .main_q H2 {
	DISPLAY: block;
	FLOAT: left
}

#layer_content .main_q SPAN {
	DISPLAY: block;
	FLOAT: left
}

#layer_content .main_q I {
	WIDTH: 15px;
	BACKGROUND: url(http://img.yi114.com/201544165530_1_radio.png) no-repeat
		-17px center;
	FLOAT: left;
	HEIGHT: 15px;
	MARGIN-RIGHT: 5px
}

#layer_content .main_q .choosed {
	BACKGROUND-POSITION: 0px 0px
}

#layer_four .title3 {
	BORDER-BOTTOM: medium none
}

#radio_submit {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BACKGROUND-COLOR: #f0432c;
	WIDTH: 381px;
	FONT: bold 30px/1.5 "Microsoft YaHei", SimSun, Arial, sans-serif;
	MARGIN-BOTTOM: 10px;
	HEIGHT: 52px;
	COLOR: #ffffff;
	MARGIN-LEFT: 57px;
	BORDER-TOP: medium none;
	CURSOR: pointer;
	BORDER-RIGHT: medium none;
	border-radius: 45px
}

#radio_submit:hover {
	BACKGROUND-COLOR: #f45641
}

#copy_url {
	LINE-HEIGHT: 26px;
	WIDTH: 280px;
	HEIGHT: 26px
}

#d_clip_container {
	POSITION: relative;
	FLOAT: left;
	TOP: 10px;
	LEFT: 5px
}

#d_clip_container #d_clip_button {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #79bc29;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	COLOR: #fff;
	PADDING-TOP: 5px
}

.operate {
	TEXT-ALIGN: center
}

.operate A {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 30px;
	BACKGROUND-COLOR: #b7b7b7;
	WIDTH: 150px;
	ZOOM: 1;
	DISPLAY: inline-block;
	HEIGHT: 30px;
	COLOR: #fff;
	VERTICAL-ALIGN: middle
}

.operate A.btn_add {
	BACKGROUND-COLOR: #2f9bd7
}

.share {
	POSITION: absolute;
	LINE-HEIGHT: 16px;
	BOTTOM: 10px;
	DISPLAY: inline;
	HEIGHT: 16px;
	RIGHT: 10px
}

.share SPAN {
	FONT-FAMILY: SimSun;
	FLOAT: left;
	COLOR: #7e7e7e;
	FONT-SIZE: 12px
}

.share A {
	TEXT-INDENT: -9999px;
	WIDTH: 16px;
	BACKGROUND: url(http://img.yi114.com/2015216132556_imgspirit.png)
		no-repeat 9999px 9999px;
	FLOAT: left;
	HEIGHT: 16px;
	MARGIN-RIGHT: 4px
}

.share .sweibo {
	BACKGROUND-POSITION: 0px -131px
}

.share .sweibo:hover {
	BACKGROUND-POSITION: 0px -147px
}

.share .qzone {
	BACKGROUND-POSITION: -16px -131px
}

.share .qzone:hover {
	BACKGROUND-POSITION: -16px -147px
}

.share .tweibo {
	BACKGROUND-POSITION: -32px -131px
}

.share .tweibo:hover {
	BACKGROUND-POSITION: -32px -147px
}

.share .douban {
	BACKGROUND-POSITION: -48px -131px
}

.share .douban:hover {
	BACKGROUND-POSITION: -48px -147px
}

.share .renren {
	BACKGROUND-POSITION: -64px -131px
}

.share .renren:hover {
	BACKGROUND-POSITION: -64px -147px
}

.animate {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}